.fac-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    --head-color: var(--lavender-pastel-4);
    --tail-color: var(--lavender-pastel-2);
    --thickness-color: var(--lavender-pastel-3);
}

.fac-container {
    width: max(350px, 50%);
    height: 100%;
}

.fac-coin-container {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* to make the coin bigger */
    font-size: var(--h1-font-size);
    color: var(--lavender-pastel-font-1);

    user-select: none;
}

/* Buttons */
.fac-buttons {
    width: 100%;
    height: 28%;

    margin-top: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fac-button {
    width: 200px;
    height: auto;

    padding: 10px;

    border: none;
    border-radius: 69420px;
    outline: none;
    background-color: var(--lavender-pastel-1);

    font: inherit;
    font-weight: bold;
    font-size: var(--h1-font-size);
    color: white;
    font-family: var(--text-font);

    cursor: pointer;

    transition: 0.4s ease;
}

.fac-button-flipping {
    background-color: var(--lavender-pastel-3) !important;

    cursor: default;
}

.fac-button:hover {
    background-color: var(--lavender-pastel-2);
}

/* Coin flipping */
.fac-coin {
    width: 11em;
    height: 11em;

    margin: 20px 0px;

    border: 35px solid var(--orange-pastel-1);
    border-radius: 50%;

    background-color: var(--orange-pastel-2);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;
}

.fac-coin img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    overflow: visible;
    z-index: 9;
}

.facCoinHover {
    animation: 4s facCoinHover linear infinite;
}

.facCoinOut {
    animation: 0.5s facCoinOut linear forwards;
}

.facCoinIn {
    animation: 0.5s facCoinIn linear forwards;
}

@keyframes facCoinHover {
    0% {
        transform: translateY(0) scale(1);
    }

    25% {
        transform: translateY(10px) scale(1.01);
    }

    50% {
        transform: translateY(0px) scale(1);
    }

    75% {
        transform: translateY(-10px) scale(0.99);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes facCoinOut {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.4);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes facCoinIn {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.fac-coin-side-indicator {
    margin-top: 50px;
    transition: 0.4s ease;
}

@media screen and (max-width: 400px) {
    .fac-coin {
        width: 10em;
        height: 10em;
    }

    .fac-coin-side-indicator {
        font-size: var(--h3-font-size);
    }
}
